

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.8s ease-out;
  }

  /* Fade-out animation */
  .fade-out {
    opacity: 0;
  }


.loading span {
  width: 4px;
  height: 50px;
  background: red;
  animation: scale 0.9s ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: white;
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: red;
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: white;
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: red;
  animation-delay: -0.5s;
}


@keyframes scale {

  0%,
  40%,
  100% {
    transform: scaleY(0.1);
  }

  20% {
    transform: scaleY(1);
  }
}


.fade-in-page {
  opacity: 0;
  animation: fadeInPage 1s ease forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

